* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.cards {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  gap: 20px;
  width: 40%;
  height: auto;
  padding-top: 20px;
}

.background {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.company-name-design {
  color: #e9e9e9;
  text-align: left;
  letter-spacing: 2px;
  /* max-width: 300px; */
  overflow: hidden;
}

.company-name-slogan {
  color: orange;
  font-size: 7px;
  letter-spacing: 4px;
  margin-top: 4px;
  text-align: center !important;
}

.icon-information1 > div > div {
  padding: 0px;
}

.second-card {
  background-size: cover;
  width: 400px;
  height: 230px;
  margin: auto;
  box-shadow: #0000005c 0px 8px 24px;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 10px;
}

.company-name3 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #e9e9e9;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  align-items: flex-start;
  text-align: center !important;
  /* width: 300px; */
}

.occupation {
  color: orange;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
}

.first-card {
  background-size: cover;
  width: 400px;
  height: 230px;
  box-shadow: #0000005c 0px 8px 24px;
  margin: auto;
}
.first-card-design {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: auto;
  height: 70px;
  align-items: center;
  transform: translate(8px, -212px);
  white-space: initial;
  word-break: break-all;
}
.firstCardLogo {
  width: 50px;
  height: auto;
}
.item-text {
  font-weight: 800;
}
.card-holder-name1 {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 3px;
}

.span-text {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
}
.card-first-card-logo-box {
  width: 70px;
}

.lorem {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  transform: translate(-20px, -102px);
}
.first-card-blog {
  height: 230px;
}
.second-card-blog {
  height: 230px;
}
.cardHolderNameBox {
width: 160px;
align-items: end;
display: flex;
justify-content: end;
flex-direction: column !important;
 text-align: center;}

.fa-location1 {
  display: flex;
  margin-right: 10px;
  color: orange;
}
.fa-phone1 {
  display: flex;
  margin-right: 10px;
  color: orange;
}
.fa-envelope1 {
  display: flex;
  margin-right: 10px;
  color: orange;
}
.fa-arrow-pointer1 {
  display: flex;
  margin-right: 10px;
  color: orange;
}

.down-part-lorem {
  transform: translate(0px, 0px);
}
.down-part-number {
  transform: translate(0px, 0px);
  color: black;
}
.down-part-email {
  transform: translate(0px, 0px);
  color: black;
}

.down-part-website {
  transform: translate(0px, 0px);
  color: black;
}

.down-part-lorem {
  color: #272623;
  font-size: 8px;
}
.icon-group1 {
  /* position: relative;
  top: -50%; */
  color: orange;
  font-size: 8px;
  padding-right: 5px;
  margin-left: 8px;
}
.icon-text1 {
  display: flex;
  padding: 4px;
  font-weight: 800;
}
.firstCardDataBox{
  display: flex;
  justify-content: space-between;
  transform: translate(-2px, -85px);
}

.companyNameSloganBox{
width: 300px;
}