* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.cards {
  /* align-content: space-between; */
  display: flex;
  flex-direction: row !important;
  /* justify-content: space-around; */
  margin: auto;
  gap: 20px;
  width: 40%;
  height: auto;
  padding-top: 20px;
  -webkit-flex-wrap: "nowrap" !important;
  flex-wrap: nowrap !important;
}

.background {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* .company-name-design {
  color: #e9e9e9;
  text-align: left;
  letter-spacing: 2px;
  overflow: hidden;
} */

.company-name-slogan {
  color: orange;
  font-size: 7px;
  letter-spacing: 4px;
  margin-top: 4px;
  text-align: center !important;
  text-align: -webkit-center;
}

.icon-information1 > div > div {
  padding: 0px;
}

.second-card {
  background-size: cover;
  width: 400px;
  height: 230px;
  margin: auto;
  box-shadow: #0000005c 0px 8px 24px;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 10px;
}

/* .company-name3 {
  display: flex;
  flex-direction: column;
  color: #e9e9e9;
  text-transform: uppercase;
  letter-spacing: 2px;
} */

.occupation {
  color: orange;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
}

.first-card {
  background-size: cover;
  width: 400px;
  height: 230px;
  box-shadow: #0000005c 0px 8px 24px;
  margin: auto;
}
/* .first-card-design { */
/* display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
  height: 70px;
  align-items: center;
  white-space: initial;
  word-break: break-all;
  position: absolute;
  top: 11%;
  left: 17%;
} */
.firstCardLogo {
  width: 50px;
  height: auto;
}
.item-text {
  font-weight: 800;
}
.card-holder-name1 {
  /* display: inline-block; */
  margin-right: 8px;
  /* margin-bottom: 3px; */
}

.span-text {
  font-weight: 700;
  font-size: 12px;
  /* text-align: center; */
  margin-bottom: 5px;
}
.card-first-card-logo-box {
  width: 70px;
}

.lorem {
  font-size: 10px;
  letter-spacing: 1px;
  position: absolute;
  top: 89%;
  left: 70%;
  text-align: center;
}
.first-card-blog {
  height: 230px;
  position: relative;
}
.second-card-blog {
  height: 230px;
  position: relative;
}


.fa-location1 {
  display: flex;
  margin-right: 10px;
  color: orange;
}
.fa-phone1 {
  display: flex;
  margin-right: 10px;
  color: orange;
}
.fa-envelope1 {
  display: flex;
  margin-right: 10px;
  color: orange;
}
.fa-arrow-pointer1 {
  display: flex;
  margin-right: 10px;
  color: orange;
}

.down-part-lorem {
  transform: translate(0px, 0px);
}
.down-part-number {
  transform: translate(0px, 0px);
  color: black;
}
.down-part-email {
  transform: translate(0px, 0px);
  color: black;
}

.down-part-website {
  transform: translate(0px, 0px);
  color: black;
}

.down-part-lorem {
  color: #272623;
  font-size: 8px;
}
.icon-group1 {
  /* position: relative;
  top: -50%; */
  color: orange;
  font-size: 8px;
  padding-right: 5px;
  margin-left: 8px;
}
.icon-text1 {
  display: flex;
  padding: 4px;
  font-weight: 800;
}
.firstCardDataBox {
  display: flex;
  justify-content: space-between !important;
  position: absolute;
  top: 60%;
  width: 100%;
  padding-right: 3px;
  /* text-align: right; */
}

.first-card-design {
  display: flex;
  justify-content: space-around;
  width: 170px;
  margin: auto;
  height: 70px;
  align-items: center;
  position: absolute;
  top: 7%;
  left: 30%;
}
.company-name3 {
  display: flex;
  flex-direction: column;
  color: #e9e9e9;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 11px;
  text-align: center;
}

.cardHolderNameBox {
  display: flex;
  flex-direction: column;
  justify-content: end;

}
.cardHolderMiddleName {
  /* font-size: 12px !important; */
}
.nameLastNameBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*     font-size: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: 89%;
    left: 72%;
    text-align: center; */